@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@200&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: whitesmoke;
}

/*Header*/

.header {
    display: flex;
    box-shadow: 0px 2px 12px lightgray;
    background-color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100vw;
    margin-inline: 12px;
}

.logo {
    font-family: "Bitcount Grid Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: small;
}

.connect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 84px;
    border: 1px;
    border-radius: 12px;
    background-color: lightgray;
    box-shadow: 0px 4px 12px lightgray;
}

.button:hover {
    background-color: gray;
    box-shadow: 0px 4px 12px gray;
}

.button:active {
    box-shadow: 0px 2px 6px lightgray;
    transform: translateY(2px);
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

/*Main*/

.main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.image-structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.image-head {
    height: 10vw;
    width: 10vw;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 4px 12px gray;
    background-color: gray;
}

.image-body {
    height: 10vw;
    width: 20vw;
    border: none;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: gray;
    box-shadow: 0px 4px 12px gray;
}

.profile-headline {
    color: gray;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.about-content {
    text-align: justify;
    color: gray;
}

/*Footer*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin-top: 64px;
    background-color: white;
}

.footer-text {
    font-size: medium;
    font-weight: 400;
}
